<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статистика ответов</title>
    <style type="text/css">
        title {font-size: 20pt; alignment: center}
    body {background:#f5f4ff}
    p {text-indent: 20px; color:#151543; font-family: Cambria;  font-size: 15pt;}
    .inform {font-size: 500%}
    br {text-indent: 20px; color:#800040; font-family: Cambria;  font-size: 15pt;}
    button, input {
    border: 2px solid cornflowerblue;
    border-radius: 20px;
    font-size: 18pt;
    background-color: aliceblue;
}
input {
border: 2px dotted cornflowerblue;
}
td {
vertical-align: bottom;
}
</style>
<p>Под каждым вопросом в столбик отображается, сколько раз были получены те или иные ответы. Так как все достаточно
    криво, везде стоит по восемь чисел – это значит, что если вариантов ответа меньше восьми, то нули сверх этого количества
лишние. </p>
  <p>1. "{{ all_questions[0] }}" :
    {%  for answer in answers_stats[0] %}
        <br> {{ answer }}<br />
    {% endfor %}</br>
<p>2. "{{ all_questions[1] }}" :
    {%  for answer in answers_stats[1] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>3. "{{ all_questions[2] }}" :
    {%  for answer in answers_stats[2] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>4. "{{ all_questions[3] }}" :
    {%  for answer in answers_stats[3] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>5. "{{ all_questions[4] }}" :
    {%  for answer in answers_stats[4] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>6. "{{ all_questions[5] }}" :
    {%  for answer in answers_stats[5] %}
        <br> {{ answer}}<br />
    {% endfor %}</p>
<p>7. "{{ all_questions[6] }}" :
    {%  for answer in answers_stats[6] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>8. "{{ all_questions[7] }}" :
    {%  for answer in answers_stats[7] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>9. "{{ all_questions[8] }}" :
    {%  for answer in answers_stats[8] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>10. "{{ all_questions[9] }}" :
    {%  for answer in answers_stats[9] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>11. "{{ all_questions[10] }}" :
    {%  for answer in answers_stats[10] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>12. "{{ all_questions[11] }}" :
    {%  for answer in answers_stats[11] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>13. "{{ all_questions[12] }}" :
    {%  for answer in answers_stats[12] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>14. "{{ all_questions[13] }}" :
    {%  for answer in answers_stats[13] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>15. "{{ all_questions[14] }}" :
    {%  for answer in answers_stats[14] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>16. "{{ all_questions[15] }}" :
    {%  for answer in answers_stats[15] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>17. "{{ all_questions[16] }}" :
    {%  for answer in answers_stats[16] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>18. "{{ all_questions[17] }}" :
    {%  for answer in answers_stats[17] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>19. "{{ all_questions[18] }}" :
    {%  for answer in answers_stats[18] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>20. "{{ all_questions[19] }}" :
    {%  for answer in answers_stats[19] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>21. "{{ all_questions[20] }}" :
    {%  for answer in answers_stats[20] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>22. "{{ all_questions[21] }}" :
    {%  for answer in answers_stats[21] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>23. "{{ all_questions[22] }}" :
    {%  for answer in answers_stats[22] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>24. "{{ all_questions[23] }}" :
    {%  for answer in answers_stats[23] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>25. "{{ all_questions[24] }}" :
    {%  for answer in answers_stats[24] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>26. "{{ all_questions[25] }}" :
    {%  for answer in answers_stats[25] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>27. "{{ all_questions[26] }}" :
    {%  for answer in answers_stats[26] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>28. "{{ all_questions[27] }}" :
    {%  for answer in answers_stats[27] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
<p>29. "{{ all_questions[28] }}" :
    {%  for answer in answers_stats[28] %}
        <br> {{ answer }}<br />
    {% endfor %}</p>
</head>
<body>

</body>
</html>